/**
 * use this file to define all colors going to be used in the application.
*/
/* white and grays */
$white: #fff;
$gray-pale: #efefef;
$gray-light0:#cccccc63;
$gray-light1: #ccc;
$gray-light2: #999;
$gray-medium: #666;
$gray-dark: #333;
$gray-darker: #1e1b14;
$black: #000;

/* yellows, browns, and oranges */
$yellow-pale: #ffffe2;
$yellow-light: #ffc;
$yellow-medium: #ffc300;
$brown-light: #c58051;
$brown-dark: #ed7003;
$orange: #f60;

/* reds */
$red: #c00;
$red-dark: #600;

/* greens */
$green-pale: #f0ffe5;
$green-light: #73bf39;
$green-dark-transparent: rgba(51, 102, 0, 0.5);
$green-dark: #00632e;

/* blues */
$blue-light: #66ccff;
$blue-bright: #0066ff;